* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}
:root {
  --font-display: "Outfit", sans-serif;
  --text-body: 0.9375rem;

  --neutral-100: hsl(0, 0%, 100%);
  --neutral-200: hsl(212, 45%, 89%);
  --neutral-500: hsl(220, 15%, 55%);
  --neutral-900: hsl(218, 44%, 22%);
}
img {
  width: 100%;
}
body {
  background: var(--neutral-200);
  min-height: 100dvh;
  display: grid;
  align-items: center;
}
.card {
  background: var(--neutral-100);
  width: clamp(320px, 85%, 320px);
  margin-inline: auto;
  padding: 16px 16px 44px;
  text-align: center;
  border-radius: 1rem;
}
.qr-wrapper {
  border-radius: 0.8rem;
  overflow: hidden;
}
.qr-wrapper img {
  user-select: none;
  pointer-events: none;
}
.caption {
  margin: 25px auto 20px;
  max-width: 23ch;
  color: var(--neutral-900);
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 700;
  font-family: var(--font-display);
}
.description {
  margin-inline: auto;
  max-width: 25ch;
  color: var(--neutral-500);
  font-size: var(--text-body);
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--font-display);
}
footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
.attribution {
  font-size: 11px;
  font-family: var(--font-display);
  text-align: center;
  color: var(--neutral-900);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
